@model MicroFin.Models.InstalmentReceipt
@{
    ViewBag.Title = "PF Receipt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4> Instalment Receipt Generated Successfully</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <center>
        <table border="1">
            <tr> <td> Receipt Id </td> <td> @Model.ReceiptId </td> </tr>
            <tr> <td> Member Code </td> <td> @Model.MemberCode </td> </tr>
            <tr> <td> Member Name </td> <td> @Model.MemberName </td> </tr>
            <tr> <td> No. Of Instalments </td> <td> @Model.NoOfInstalments </td> </tr>
            <tr> <td> Weekly Due(Rs.)</td> <td> @Model.Ewi </td> </tr>
            <tr> <td> Total Amount Paid (Rs.) </td> <td> @Model.TotalDue </td> </tr>
            <tr> <td> Next Due Date </td> <td> @Model.NextDueDate </td> </tr>
            <tr> <td> Collected By </td> <td> @Model.UserId </td> </tr>
        </table>
    </center>
}
