@model IEnumerable<MicroFin.Models.CumulativeReport>

@{
    ViewBag.Title = "ViewLoans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Loans</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeaderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EwiDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalEwi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalEwiReceived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalEwiPending)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalMembers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ewi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalEwiPerWeek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EwiPaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EwiPending)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GroupId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeaderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EwiDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalEwi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalEwiReceived)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalEwiPending)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalMembers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ewi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalEwiPerWeek)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EwiPaid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EwiPending)
        </td>
    </tr>
}
</table>
