@model IEnumerable<MicroFin.Models.MemberLoan>

@{
    ViewBag.Title = "ViewLoans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Loans</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.loan.LoanId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.member.MemberId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.member.MemberName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.member.AccountNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.member.IFSC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loan.LoanAmount)
        </th>
        <th></th>
        <th></th>
        <th> </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.loan.LoanId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.member.MemberId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.member.MemberName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.member.AccountNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.member.IFSC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.loan.LoanAmount)
        </td>
        
    </tr>
}

</table>
