@model IEnumerable<MicroFin.Models.Loan>

@{
    ViewBag.Title = "ViewLoans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Loans</h2>
@Html.ActionLink("Downolad", "ExportLoans")
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LoanId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanAmount)
        </th>
        <th></th>
        <th></th>
        <th> </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LoanId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanAmount)
        </td>
        <td>
            @Html.ActionLink("View", "ViewLoan", new { id = item.LoanId })
        </td>
        <td>
            @if(item.LoanStatus=="P" || item.LoanStatus=="A")
            {
                @Html.ActionLink("Edit", "LoanForm", new { id=item.LoanId })
            }
        </td>
        <td>
            @if (item.LoanStatus == "P" || item.LoanStatus == "A")
            {
                @Html.ActionLink("Approve", "LoanStatusForm", new { id = item.LoanId })
            }
        </td>
    </tr>
}

</table>
