@model IEnumerable<MicroFin.Models.Loan>

@{
    ViewBag.Title = "ViewLoans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Loans</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LoanId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LoanId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanAmount)
        </td>
        <td>
            @if (Session["userType"].ToString() == "D" || Session["userType"].ToString() == "M" && item.LoanAmount <= 5000)
            {
                <span id='@item.LoanId'>
                    <a href="javascript:void(0)" onclick="approveLoan(@item.LoanId);">Approve</a>
                </span>
            }
        </td>
    </tr>
}

</table>
<script>
    function approveLoan(loanId) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 2) {
                document.getElementById(loanId).innerHTML = "Approving...";
            }
            else if (this.readyState == 4 && this.status == 200) {
                document.getElementById(loanId).innerHTML = "Approved";
            }
        };
        xhttp.open("GET", "../api/ApproveLoan/" + loanId, true);
        xhttp.send();
    }
</script>