@model IEnumerable<MicroFin.Models.MemberGroup>

@{
    ViewBag.Title = "View Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Groups</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CenterCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CenterName)
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GroupCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CenterCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CenterName)
        </td>
        <td>
            @Html.ActionLink("Members", "ViewMembers", "Member", new { id = item.GroupCode },null)
        </td>
        <td>
            @Html.ActionLink("Loans", "ViewLoans", "Loan", new { id = item.GroupCode }, null)
        </td>
        <td>
            @Html.ActionLink("TrasferReport", "LoanTransferReport", "Loan", new { id = item.GroupCode }, null)
        </td>
        <td>
            @if (item.isLoanRunning)
            { @Html.ActionLink("LoanStatus", "LoanRepaymentStatus", "Loan", new { id = item.GroupCode }, null) }
        </td>
        <td>
            @Html.ActionLink("Edit", "MemberGroupForm", new { id=item.GroupCode })
        </td>
    </tr>
}

</table>
