<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts")
    <link rel="stylesheet" href="~/Content/home.css" />
    <link rel="stylesheet" href="~/Content/form.css" />
    <script src='~/Scripts/home.js'></script>

    <!-- Icons font CSS-->
    <link href="~/Content/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="~/Content/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Content/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/Content/main.css" rel="stylesheet" media="all">

</head>
<body>
    @if (Session["UserId"] == null)
    {
        Response.Redirect("~/App/Login");
    }
    <div class="menu-wrap">
        <nav class="menu">
            <ul class="clearfix">
                <li><a href="javascript:void(0)" onclick="showHome();">Home</a></li>
                <li>
                    <a href="javascript:void(0)">Center <span class="arrow">&#9660;</span></a>
                    <ul class="sub-menu" style="display: block">
                        <li><a id="groupCenterForm" href=""> Add Center</a></li>
                        <li><a id="viewGroupCenters" href=""> View Centers</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript:void(0)">Group<span class="arrow">&#9660;</span></a>
                    <ul class="sub-menu" style="display: block">
                        <li><a id="memberGroupForm" href=""> Add Group</a></li>
                        <li><a id="viewMemberGroups" href=""> View Groups</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript:void(0)">Member<span class="arrow">&#9660;</span></a>
                    <ul class="sub-menu" style="display: block">
                        <li><a id="memberForm" href=""> Add Member</a></li>
                        <li><a id="viewMembers" href=""> View Members</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript:void(0)">Loan <span class="arrow">&#9660;</span></a>

                    <ul class="sub-menu" style="display: block">
                        <li><a id="loanForm" href=""> New Loan</a></li>
                        <li><a id="groupLoanForm" href=""> Group Loan</a></li>
                        <li><a id="viewLoans" href=""> View Loans</a></li>
                        <li><a id="cumulativeReport" href=""> Cumulative Report</a></li>
                        
                    </ul>
                </li>
                @if (Session["userType"] != null && (Session["userType"].ToString() == "M" || Session["userType"].ToString() == "D" || Session["userType"].ToString() == "C"))
                {
                    <li>
                        <a href="javascript:void(0)"> Receipts <span class="arrow">&#9660;</span></a>
                        <ul class="sub-menu" style="display: block">
                            <li>  </li>
                            <li><a id="pfReceiptForm" href=""> Fee Receipt (Member)</a></li>
                            <li><a id="groupPfReceiptForm" href=""> Fee Receipt (Group)</a></li>
                            <li><a id="instalmentReceiptForm" href=""> Due Receipt (Member)</a></li>
                            <li><a id="groupInstalmentReceiptForm" href=""> Due Receipt (Group)</a></li>
                            <li><a id="viewEwiDueList" href=""> Due Statement</a></li>
                            <li><a id="cashReceiptStatementForm" href=""> Cash Receipt-Statement</a></li>
                        </ul>
                    </li>
                }
                @if (Session["userType"] != null && Session["userType"].ToString() == "X")
                {
                    <li>
                        <a href="javascript:void(0)"> Branch <span class="arrow">&#9660;</span></a>

                        <ul class="sub-menu" style="display: block">
                            <li><a href="javascript:void(0)" onclick="aeBranchForm();"> Add </a></li>
                            <li><a href="javascript:void(0)" onclick="viewBranches();"> View </a></li>

                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void(0)"> User <span class="arrow">&#9660;</span></a>

                        <ul class="sub-menu" style="display: block">
                            <li><a href="javascript:void(0)" onclick="aeUserForm();"> Add </a></li>
                            <li><a href="javascript:void(0)" onclick="viewUsers();"> View </a></li>

                        </ul>
                    </li>
                }
            </ul>
        </nav>
        <p> User: @Session["userId"].ToString() <a id="logout" href=""> Logout </a> </p>
        <p> Branch: @Session["branch"].ToString() </p>

    </div>
    <div id="content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        document.getElementById("logout").href = "http://" + window.location.host + "/App/Logout";
        document.getElementById("groupCenterForm").href = "http://" + window.location.host + "/Center/GroupCenterForm";
        document.getElementById("viewGroupCenters").href = "http://" + window.location.host + "/Center/ViewGroupCenters";
        document.getElementById("memberGroupForm").href = "http://" + window.location.host + "/Group/MemberGroupForm";
        document.getElementById("viewMemberGroups").href = "http://" + window.location.host + "/Group/ViewMemberGroups";
        document.getElementById("memberForm").href = "http://" + window.location.host + "/Member/MemberForm";
        document.getElementById("viewMembers").href = "http://" + window.location.host + "/Group/ViewMemberGroups";
        document.getElementById("loanForm").href = "http://" + window.location.host + "/Loan/LoanForm";
        document.getElementById("groupLoanForm").href = "http://" + window.location.host + "/Loan/GroupLoanForm";
        document.getElementById("viewLoans").href = "http://" + window.location.host + "/Group/ViewMemberGroups";
        document.getElementById("pfReceiptForm").href = "http://" + window.location.host + "/Receipt/PFReceiptForm";
        document.getElementById("groupPfReceiptForm").href = "http://" + window.location.host + "/Receipt/GroupPFReceiptForm";
        
        document.getElementById("instalmentReceiptForm").href = "http://" + window.location.host + "/Receipt/InstalmentReceiptForm";
        document.getElementById("groupInstalmentReceiptForm").href = "http://" + window.location.host + "/Receipt/GroupInstalmentReceiptForm";
        document.getElementById("viewEwiDueList").href = "http://" + window.location.host + "/Receipt/ViewEwiDueList";
        document.getElementById("cashReceiptStatementForm").href = "http://" + window.location.host + "/Receipt/CashReceiptStatementForm";
        document.getElementById("cumulativeReport").href = "http://" + window.location.host + "/Loan/CumulativeReport";
        

    </script>

    <!-- Jquery JS-->
    <script src="~/Scripts/jquery.min.js" type="0792df477abe7cde08931e1d-text/javascript"></script>
    <!-- Vendor JS-->
    <script src="~/Scripts/select2.min.js" type="0792df477abe7cde08931e1d-text/javascript"></script>
    <script src="~/Scripts/moment.min.js" type="0792df477abe7cde08931e1d-text/javascript"></script>
    <script src="~/Scripts/daterangepicker.js" type="0792df477abe7cde08931e1d-text/javascript"></script>

    <!-- Main JS-->
    <script src="~/Scripts/global.js" type="0792df477abe7cde08931e1d-text/javascript"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="0792df477abe7cde08931e1d-text/javascript"></script>
    <script type="0792df477abe7cde08931e1d-text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/a2bd7673/cloudflare-static/rocket-loader.min.js" data-cf-settings="0792df477abe7cde08931e1d-|49" defer=""></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>